/** Colors **/
$kitkat-color-black: #0a0e12;
$kitkat-color-white: #fff;

$kitkat-color-blue: #325ca4;
$kitkat-color-red: #b74c51;
$kitkat-color-green: #8bd389;


$kitkat-color-grey: (
    '1': #838383,
    '2': #656565
);

/** Mixins **/
@function color($map-color, $key) {
  @return map-get($map-color, $key);
}
